<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('修改供应商竞标数据')"/>
    <th:block th:include="include :: bootstrap-select-css" />
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-supplierbid-edit" th:with="command = ${@supplierBidService.selectByPrimaryKey(id)}">
        <input type="hidden" name="autoId" th:value="${command.autoId}">
        <div class="col-sm-12">
            <div class="form-group">
                <label class="col-sm-4 control-label"><span style="color: red; ">*</span>供应商名称：</label>
                <div class="col-sm-7">
                    <select name="supplierName" id="supplierName" class="selectpicker form-control" data-live-search="true" th:with="suppliers=${@supplierInfoService.selectAll()}">
                        <option th:each="supplier : ${suppliers}" th:text="${supplier.supplierName}" th:value="${supplier.supplierName}" th:selected="${command.supplierId == supplier.supplierId}"></option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="form-group">
                <label class="col-sm-4 control-label"><span style="color: red; ">*</span>合同号：</label>
                <div class="col-sm-7">
                    <select name="agreementNo" id="agreementNo" class="selectpicker form-control" data-live-search="true" th:with="agreements=${@agreementInfoService.selectAll()}">
                        <option th:each="agreement : ${agreements}" th:text="${agreement.agreementNo}" th:value="${agreement.agreementNo}" th:selected="${command.agreementId == agreement.agreementId}"></option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="form-group">
                <label class="col-sm-4 control-label"><span style="color: red; ">*</span>岗位名称：</label>
                <div class="col-sm-7">
                    <select name="postName" id="postName" class="selectpicker form-control" data-live-search="true" th:with="posts=${@postInfoService.selectAll()}">
                        <option th:each="post : ${posts}" th:text="${post.postName}" th:value="${post.postName}" th:selected="${command.postId == post.postId}"></option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="form-group">
                <label class="col-sm-4 control-label"><span style="color: red; ">*</span>竞标价钱：</label>
                <div class="col-sm-7">
                    <input name="bidPrice" th:value="${command.getIntBidPrice()}" id="bidPrice" maxlength="7"
                           class="money form-control" type="text" required>
                </div>
            </div>
        </div>
    </form>
</div>
<th:block th:include="include :: footer" />
<th:block th:include="include :: bootstrap-select-js" />
<script type="text/javascript">
    var prefix = ctx + "outsource/supplierBid";

    function submitHandler() {
        if ($.validate.form()) {
            $.operate.save(prefix + "/edit", $('#form-supplierbid-edit').serialize());
        }
    }
</script>
</body>
</html>