<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('用户数据页面')"/>
    <th:block th:include="include :: ztree-css"/>
</head>
<body class="gray-bg">
<div class="ui-layout-center">
    <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="post-form">
                    <div class="select-list">
                        <ul>
                            <li>
                                用户昵称：<input type="text" th:value="${nickName}" name="catName" maxlength="64"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="_search()"><i
                                        class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i
                                        class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table" data-mobile-responsive="true"></table>
            </div>
        </div>
    </div>
</div>

<th:block th:include="include :: footer"/>
<th:block th:include="include :: ztree-js"/>
<th:block th:include="include :: zy-common"/>
<script th:inline="javascript">
    var prefix = ctx + "skdm/userInfo";

    $(function () {
        queryUserList();
    });

    function queryUserList() {
        var options = {
            url: prefix + "/list",
            sortName: "createTime",
            sortOrder: "desc",
            modalName: "用户数据",
            columns: [{
                checkbox: true
            }, {
                field: 'openId',
                title: '用户openId',
                sortable: true,
                visible: false
            }, {
                field: 'nickName',
                title: '昵称',
                sortable: true
            }, {
                field: 'registerCnt',
                title: '登录次数',
                sortable: true
            }, {
                field: 'updateTime',
                title: '最后登录时间',
                sortable: true
            }, {
                field: 'createTime',
                title: '首次登录时间',
                sortable: true
            }, {
                title: '操作',
                align: 'center',
                formatter: function (value, row, index) {
                    var actions = [];
                    actions.push('<a class="btn btn-success btn-xs" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.openId + '\')"><i class="fa fa-edit"></i>修改</a> ');
                    return actions.join('');
                }
            }]
        };
        $.table.init(options);
    }

    function _search() {
        // var projectName = $("#projectName").val();
        // var departmentId = $("#departmentId").val();
        $.table.search();
    }
</script>
</body>
</html>