<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('账单查询')"/>
    <th:block th:include="include :: ztree-css"/>
    <th:block th:include="include :: bootstrap-select-css" />
</head>
<body class="gray-bg">
<div class="ui-layout-center">
    <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="post-form">
                    <div class="select-list">
                        <ul>
                            <li>
                                统计年份：<input type="text" name="statisticsYear" th:value="${@billService.getNowYear()}"/>
                            </li>
                            <li>
                                统计月份：<input type="text" name="statisticsMonth" value="3"/>
                                <!--                                            th:value="${@billService.getPrevMonth()}"/>-->
                            </li>
                            <li>
                                部门名称：<select name="departmentName" id="departmentName" class="selectpicker" data-live-search="true" th:with="departs=${@departmentInfoService.selectAll()}">
                                <option value="">全部</option>
                                <option th:each="depart : ${departs}" th:text="${depart.departmentName}" th:value="${depart.departmentName}"></option>
                            </select>
                            </li>
                            <li>
                                项目名称：<select name="projectName" id="projectName" class="selectpicker" data-live-search="true" th:with="projects=${@projectInfoService.selectAll()}">
                                <option value="">全部</option>
                                <option th:each="project : ${projects}" th:text="${project.projectName}" th:value="${project.projectName}"></option>
                            </select>
                            </li>

                            <li>
                                供应商名称：<select name="supplierName" id="supplierName" class="selectpicker" data-live-search="true" th:with="suppliers=${@supplierInfoService.selectAll()}">
                                <option value="">全部</option>
                                <option th:each="supplier : ${suppliers}" th:text="${supplier.getSupplierName()}" th:value="${supplier.getSupplierName()}"></option>
                            </select>
                            </li>
                            <li>
                                考勤人：<input type="text" name="staffName" value=""/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i
                                        class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i
                                        class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-warning" id="exportBtn" style="display:none" onclick="_export()">
                    <i class="fa fa-download"></i> 导出
                </a>
                <a class="btn btn-danger" id="checkBtn" onclick="modifyDate()">
                    <i class="fa fa-check-square"></i> 核对
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table" data-mobile-responsive="true"></table>
            </div>
        </div>
    </div>
</div>
<th:block th:include="include :: footer"/>
<th:block th:include="include :: ztree-js"/>
<th:block th:include="include :: bootstrap-select-js" />
<script th:inline="javascript">
    var prefix = ctx + "outsource/bill";
    var isShowExport = 0;

    $(function () {
        queryMonthBill();
    });

    //修改按钮：将当前结果保存到数据库
    function modifyDate() {
        var year = $("input[name='statisticsYear']").val();
        var month = $("input[name='statisticsMonth']").val();
        $.ajax({
            type: "POST",
            url: prefix + "/saveMonthBill",
            data: {"statisticsYear": year, "statisticsMonth": month},
            success: function (result) {
                $("#exportBtn").show();
                $.table.refresh();
                alert("保存成功！");
            },
            error: function (e) {
                console.log(e.status);
            }
        });
    }

    //根据返回数据，进行按钮的切换
    function changeHideBtn(data) {
        if (isShowExport == 1) {//查询的month_bill，显示导出及编辑按钮
            $("#checkBtn").hide();
            $("#exportBtn").show();
            $(".edit-btn").show();
        } else {//关联查的数据，显示修改按钮
            $("#checkBtn").show();
            $("#exportBtn").hide();
            $(".edit-btn").hide();
        }
    }

    function getResponseMsg(res) {
        isShowExport = res.msg;
    }

    //默认查询账单表中的现有数据
    function queryMonthBill() {
        var options = {
            url: prefix + "/queryMonthBill",
            updateUrl: prefix + "/edit/{id}",
            exportUrl: prefix + "/export",
            modalName: "月度考勤明细",
            responseHandler: getResponseMsg,
            onLoadSuccess: changeHideBtn,
            columns: [{
                checkbox: true
            }, {
                field: 'autoId',
                title: '账单ID',
                sortable: true
            }, {
                field: 'statisticsYear',
                title: '统计年份',
                sortable: true
            }, {
                field: 'statisticsMonth',
                title: '统计月份',
                sortable: true
            }, {
                field: 'departmentName',
                title: '部门名称',
                sortable: true
            }, {
                field: 'projectName',
                title: '项目名称',
                sortable: true
            }, {
                field: 'orderNo',
                title: '订单编号',
                sortable: true
            }, {
                field: 'postName',
                title: '岗位名称',
                sortable: true
            }, {
                field: 'staffName',
                title: '考勤人',
                sortable: true
            }, {
                field: 'supplierName',
                title: '供应商名称',
                sortable: true
            }, {
                field: 'bidPrice',
                title: '岗位单价',
                sortable: true
            }, {
                field: 'serveDaysExpect',
                title: '应该工作天数',
                sortable: true
                // },{
                //     field: 'serveDaysActual',
                //     title: '实际工作天数',
                //     sortable: true
                // },{
                //     field: 'arriveDate',
                //     title: '到岗日期',
                //     sortable: true
                // }, {
                //     field: 'leaveDate',
                //     title: '离岗日期',
                //     sortable: true
            }, {
                field: 'publicVacation',
                title: '公共假期',
                sortable: true
            }, {
                field: 'remark',
                title: '备注',
                sortable: true
            }, {
                field: 'postExpenses',
                title: '当月人员岗位费用',
                sortable: true
            }, {
                title: '操作',
                align: 'center',
                formatter: function (value, row, index) {
                    var actions = [];
                    actions.push('<a class="btn btn-success btn-xs edit-btn" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.autoId + '\')"><i class="fa fa-edit"></i>修改</a> ');
                    return actions.join('');
                }
            }]
        };
        $.table.init(options);
    }

    function _export() {
        var rows = $.common.isEmpty($.table._option.uniqueId) ? $.table.selectFirstColumns() : $.table.selectColumns($.table._option.uniqueId);
        if (rows.length == 0) {
            $.table.exportExcel();
            return;
        }
        var statisticsYear = $.table.selectColumns(2);
        $.modal.confirm("确定导出" + rows.length + "条数据吗？", function () {
            $.modal.loading("正在导出数据，请稍后...");
            var data = {"ids": rows.join(), "statisticsYear": "", "": ""};
            $.post($.table._option.exportUrl, data, function (result) {
                if (result.code == web_status.SUCCESS) {
                    window.location.href = ctx + "common/download?fileName=" + encodeURI(result.msg) + "&delete=" + true;
                } else if (result.code == web_status.WARNING) {
                    $.modal.alertWarning(result.msg)
                } else {
                    $.modal.alertError(result.msg);
                }
                $.modal.closeLoading();
            });
        });
    }
</script>
</body>
</html>