<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('添加面试人员数据')"/>
    <th:block th:include="include :: bootstrap-select-css" />
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-interviewpersonref-add">
        <div class="col-sm-12">
            <div class="form-group">
                <label class="col-sm-4 control-label"><span style="color: red; ">*</span>采购编号：</label>
                <div class="col-sm-7">
                    <input name="purchaseNo" id="purchaseNo" class="form-control" type="text" required>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="form-group">
                <label class="col-sm-4 control-label"><span style="color: red; ">*</span>订单编号：</label>
                <div class="col-sm-7">
                    <input name="orderNo" id="orderNo" class="form-control" type="text" required>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="form-group">
                <label class="col-sm-4 control-label"><span style="color: red; ">*</span>人名：</label>
                <div class="col-sm-7">
                    <input name="candidateName" id="candidateName" class="form-control" type="text" required>
                </div>
            </div>
        </div>
        <div class="col-sm-11">
            <div class="form-group">
                <label class="col-sm-4 control-label"><span style="color: red; ">*</span>是否参加面试：</label>
                <div class="col-sm-7">
                    <select name="isInterview" class="form-control" th:with="type=${@dict.getType('isNotifyInterview')}">
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}"
                                th:value="${dict.dictValue}"></option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="form-group">
                <label class="col-sm-4 control-label"><span style="color: red; ">*</span>通知面试日期：</label>
                <div class="col-sm-7">
                    <input type="text" class="datetime-input form-control" id="notifyDate" placeholder="通知面试日期"
                           name="notifyDate" required readonly="readonly"/>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="form-group">
                <label class="col-sm-4 control-label"><span style="color: red; ">*</span>参加面试日期：</label>
                <div class="col-sm-7">
                    <input type="text" class="datetime-input form-control" id="interviewDate" placeholder="参加面试日期"
                           name="interviewDate" required readonly="readonly"/>
                </div>
            </div>
        </div>
        <div class="col-sm-11">
            <div class="form-group">
                <label class="col-sm-4 control-label"><span style="color: red; ">*</span>是否通过：</label>
                <div class="col-sm-7">
                    <select name="isPass" class="form-control" th:with="type=${@dict.getType('isNotifyInterview')}">
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}"
                                th:value="${dict.dictValue}"></option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-sm-11">
            <div class="form-group">
                <label class="col-sm-4 control-label"><span style="color: red; ">*</span>是否被退回：</label>
                <div class="col-sm-7">
                    <select name="isReject" class="form-control" th:with="type=${@dict.getType('isNotifyInterview')}">
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}"
                                th:value="${dict.dictValue}"></option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-sm-11">
            <div class="form-group">
                <label class="col-sm-4 control-label"><span style="color: red; ">*</span>是否替换：</label>
                <div class="col-sm-7">
                    <select name="isReplace" class="form-control" th:with="type=${@dict.getType('isNotifyInterview')}">
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}"
                                th:value="${dict.dictValue}"></option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="form-group">
                <label class="col-sm-4 control-label"><span style="color: red; ">*</span>不符合岗位要求的原因及建议：</label>
                <div class="col-sm-7">
                    <input name="reason" id="reason" class="form-control" type="text" required maxlength="256">
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="form-group">
                <label class="col-sm-4 control-label"><span style="color: red; ">*</span>到岗日期：</label>
                <div class="col-sm-7">
                    <input type="text" class="datetime-input form-control" id="arriveDate" placeholder="到岗日期"
                           name="arriveDate" required readonly="readonly"/>
                </div>
            </div>
        </div>
    </form>
</div>
<th:block th:include="include :: footer"/>
<th:block th:include="include :: bootstrap-select-js" />
<script type="text/javascript">
    var prefix = ctx + "/outsource/interviewPersonRef";

    function submitHandler() {
        if ($.validate.form()) {
            $.operate.save(prefix + "/add", $('#form-interviewpersonref-add').serialize());
        }
    }
</script>
</body>
</html>