<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('修改面试人员数据')"/>
    <th:block th:include="include :: bootstrap-select-css" />
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-interviewpersonref-edit" th:with="command = ${@interviewPersonRefService.selectByPrimaryKey(id)}">
        <input type="hidden" name="autoId" th:value="${command.autoId}">
        <h4 class="form-header h4">面试人员数据</h4>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label class="col-sm-4 control-label"><span style="color: red; ">*</span>采购编号：</label>
                    <div class="col-sm-7">
                        <input name="orderNo" th:value="${command.purchaseNo}" id="purchaseNo" class="form-control" type="text" required>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="form-group">
                    <label class="col-sm-4 control-label"><span style="color: red; ">*</span>订单编号：</label>
                    <div class="col-sm-7">
                        <input name="orderNo" th:value="${command.orderNo}" id="orderNo" class="form-control" type="text" required>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="form-group">
                    <label class="col-sm-4 control-label"><span style="color: red; ">*</span>人名：</label>
                    <div class="col-sm-7">
                        <input name="staffName" th:value="${command.staffName}" id="staffName" class="form-control" type="text" required>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="form-group">
                    <label class="col-sm-4 control-label"><span style="color: red; ">*</span>身份证号：</label>
                    <div class="col-sm-7">
                        <input name="idCard" th:value="${command.idCard}" id="idCard form-control" class="idcard form-control" type="text" required maxlength="18">
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="form-group">
                    <label class="col-sm-4 control-label"><span style="color: red; ">*</span>是否参加面试：</label>
                    <div class="col-sm-7">
                        <select name="isInterview" class="form-control" th:with="type=${@dict.getType('isNotifyInterview')}">
                            <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:selected="${dict.dictValue == (command.isInterview + '')}"
                                    th:value="${dict.dictValue}"></option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="form-group">
                    <label class="col-sm-4 control-label"><span style="color: red; ">*</span>通知面试日期：</label>
                    <div class="col-sm-7">
                        <input type="text" class="time-input form-control" id="notifyDate" th:value="${command.notifyDate}" placeholder="通知面试日期" name="notifyDate" required/>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="form-group">
                    <label class="col-sm-4 control-label"><span style="color: red; ">*</span>参加面试日期：</label>
                    <div class="col-sm-7">
                        <input type="text" class="time-input form-control" id="interviewDate" th:value="${command.interviewDate}" placeholder="参加面试日期" name="interviewDate" required/>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="form-group">
                    <label class="col-sm-4 control-label"><span style="color: red; ">*</span>是否通过：</label>
                    <div class="col-sm-7">
                        <select name="isPass" class="form-control" th:with="type=${@dict.getType('isNotifyInterview')}">
                            <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:selected="${dict.dictValue == (command.isPass + '')}"
                                    th:value="${dict.dictValue}"></option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="form-group">
                    <label class="col-sm-4 control-label"><span style="color: red; ">*</span>是否被退回：</label>
                    <div class="col-sm-7">
                        <select name="isReject" class="form-control" th:with="type=${@dict.getType('isNotifyInterview')}">
                            <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:selected="${dict.dictValue == (command.isReject + '')}"
                                    th:value="${dict.dictValue}"></option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="form-group">
                    <label class="col-sm-4 control-label"><span style="color: red; ">*</span>是否替换：</label>
                    <div class="col-sm-7">
                        <select name="isReplace" class="form-control" th:with="type=${@dict.getType('isReject')}">
                            <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:selected="${dict.dictValue == (command.isReplace + '')}"
                                    th:value="${dict.dictValue}"></option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="form-group">
                    <label class="col-sm-4 control-label"><span style="color: red; ">*</span>不符合岗位要求的原因及建议：</label>
                    <div class="col-sm-7">
                        <input name="reason" th:value="${command.reason}" id="reason" class="form-control" type="text" required>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="form-group">
                    <label class="col-sm-4 control-label"><span style="color: red; ">*</span>到岗日期：</label>
                    <div class="col-sm-7">
                        <input type="text" class="time-input form-control" id="arriveDate" th:value="${command.arriveDate}" placeholder="到岗日期" name="arriveDate" required/>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<th:block th:include="include :: footer" />
<script type="text/javascript">
    var prefix = ctx + "outsource/interviewPersonRef";
    $("#form-interviewpersonref-edit").validate({
        onkeyup: false,
        focusCleanup: true,
    });

    function submitHandler() {
        if ($.validate.form()) {
            $.operate.save(prefix + "/edit", $('#form-interviewpersonref-edit').serialize());
        }
    }
</script>
</body>
</html>