<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('面试人员数据')" />
</head>
<body class="gray-bg">
    <!-- 主体内容开始 -->
    <div class="container-div">
        <!-- 第一行 -->
        <div class="row">
            <!-- clo-sm-12 为占用12个栅栏 一行为12个栅栏 search-collapse可折叠样式 -->
            <div class="col-sm-12 search-collapse">
                <form id="interviewpersonref-form">
                    <!-- 表单开始 -->
                    <div class="select-list">
                        <ul>
                            <li>
                                采购编号：<input type="text" name="purchaseNo" id="purchaseNo" autocomplete="off"/>
                            </li>
                            <li>
                                订单编号：<input type="text" name="orderNo" id="orderNo" autocomplete="off"/>
                            </li>
                            <li>
                                人名：<input type="text" name="candidateName" id="candidateName" autocomplete="off"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                    <!-- 表单结束 -->
                </form>
            </div>
            <!-- table开始 -->
            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" >
                    <i class="fa fa-plus"></i> 新增
                </a>
<!--                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" >-->
<!--                    <i class="fa fa-edit"></i> 修改-->
<!--                </a>-->
<!--                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" >-->
<!--                    <i class="fa fa-remove"></i> 删除-->
<!--                </a>-->
                <a class="btn btn-info" onclick="$.table.importExcel()">
                    <i class="fa fa-upload"></i> 导入
                </a>
                <a class="btn btn-warning" onclick="exportUser()" >
                    <i class="fa fa-download"></i> 导出
                </a>
            </div>

            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table" data-mobile-responsive="true"></table>
            </div>
            <!-- table结束 -->
        </div>
    </div>
    <!-- 主体内容结束 -->
<th:block th:include="include :: footer" />
<script th:inline="javascript">
    var isNotifyInterview = [[${@dict.getType('isNotifyInterview')}]];
    $(function(){
        queryList();
    });

    function queryList() {
        var prefix = ctx + "outsource/interviewPersonRef";
        var options = {
            url: prefix + "/list",
            createUrl: prefix + "/add",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove",
            exportUrl: prefix + "/export",
            importUrl: prefix + "/importData",
            importTemplateUrl: prefix + "/importTemplate",
            sortName: "autoId",
            sortOrder: "desc",
            modalName: "订单编号",
            columns: [
                {
                    checkbox: true
                },
                {
                    field: 'autoId',
                    title: 'ID',
                    visible: false
                },
                {
                    field: 'purchaseNo',
                    title: '采购编号'
                },
                {
                    field: 'orderNo',
                    title: '订单编号'
                },
                {
                    field: 'candidateName',
                    title: '人名'
                },
                {
                    field: 'isInterview',
                    title: '是否参加面试',
                    sortable: true,
                    formatter:function(value,row,index){
                        return $.table.selectDictLabel(isNotifyInterview, value);
                    }
                },
                {
                    field: 'notifyDate',
                    title: '通知面试日期',
                    align: 'center',
                    sortable: true
                },
                {
                    field: 'interviewDate',
                    title: '参加面试日期',
                    align: 'center',
                    sortable: true
                },
                {
                    field: 'isPass',
                    title: '是否通过',
                    sortable: true,
                    formatter:function(value,row,index){
                        return $.table.selectDictLabel(isNotifyInterview, value);
                    }
                },
                {
                    field: 'isReplace',
                    title: '是否替换',
                    sortable: true,
                    formatter:function(value,row,index){
                        return $.table.selectDictLabel(isNotifyInterview, value);
                    }
                },
                {
                    field: 'isInterview',
                    title: '是否参加面试',
                    sortable: true,
                    formatter:function(value,row,index){
                        return $.table.selectDictLabel(isNotifyInterview, value);
                    }
                },
                {
                    field: 'reason',
                    title: '不符合岗位要求的原因及建议'
                },
                {
                    field: 'arriveDate',
                    title: '到岗日期',
                    align: 'center',
                    sortable: true
                },
                {
                    field: 'leaveDate',
                    title: '离岗日期',
                    align: 'center',
                    sortable: true
                },
                {
                    field: 'leaveReason',
                    title: '离岗原因'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.autoId + '\')"><i class="fa fa-edit"></i>修改</a> ');
                        // actions.push('<a class="btn btn-danger btn-xs" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.autoId + '\')"><i class="fa fa-remove"></i>删除</a> ');
                        return actions.join('');
                    }
                }]
        };
        $.table.init(options);
    }

    function exportUser() {
        var rows = $.common.isEmpty($.table._option.uniqueId) ? $.table.selectFirstColumns() : $.table.selectColumns($.table._option.uniqueId);
        if (rows.length == 0) {
            $.table.exportExcel();
            return;
        }
        $.modal.confirm("确定导出"+rows.length+"条数据吗？", function() {
            $.modal.loading("正在导出数据，请稍后...");
            var data = { "ids": rows.join() };
            $.post($.table._option.exportCheckUrl,data, function(result) {
                if (result.code == web_status.SUCCESS) {
                    window.location.href = ctx + "common/download?fileName=" + encodeURI(result.msg) + "&delete=" + true;
                } else if (result.code == web_status.WARNING) {
                    $.modal.alertWarning(result.msg)
                } else {
                    $.modal.alertError(result.msg);
                }
                $.modal.closeLoading();
            });
        });
    }
	</script>
</body>
<!-- 导入区域 -->
<script id="importTpl" type="text/template">
<form enctype="multipart/form-data" class="mt20 mb10">
	<div class="col-xs-offset-1">
		<input type="file" id="file" name="file"/>
		<div class="mt10 pt5">
			<input type="checkbox" id="updateSupport" name="updateSupport" title="如果登录账户已经存在，更新这条数据。"> 是否更新已经存在的用户数据
			 &nbsp;	<a onclick="$.table.importTemplate()" class="btn btn-default btn-xs"><i class="fa fa-file-excel-o"></i> 下载模板</a>
		</div>
		<font color="red" class="pull-left mt10">
			提示：仅允许导入“xls”或“xlsx”格式文件！
		</font>
	</div>
</form>
</script>
</html>