<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改项目')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-project-edit" th:with="command = ${@projectInfoService.selectByPrimaryKey(projectId)}">
            <input type="hidden" name="projectId" th:value="${command.getProjectId()}">
            <h4 class="form-header h4">项目信息</h4>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="col-sm-4 control-label"><span style="color: red; ">*</span>项目名称：</label>
                        <div class="col-sm-8">
                            <input name="projectName" id="projectName" placeholder="请输入项目名称" th:value="${command.getProjectName()}" class="form-control" type="text" maxlength="20" required>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="col-sm-4 control-label"><span style="color: red; ">*</span>部门名称：</label>
                        <div class="col-sm-8">
                            <select name="departmentId" id="departmentId" class="form-control" th:with="departs=${@departmentInfoService.selectAll()}">
                                <option th:each="depart : ${departs}" th:text="${depart.departmentName}" th:value="${depart.departmentId}" th:selected="${command.getDepartmentId() == depart.departmentId}"></option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script type="text/javascript">
        var prefix = ctx + "outsource/projectInfo";

        $("#form-project-edit").validate({
            onkeyup: false,
            focusCleanup: true,
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/edit", $('#form-project-edit').serialize());
            }
        }
    </script>
</body>
</html>