<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('添加合同数据')"/>
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-agreementinfo-add">
        <div class="col-sm-11">
            <div class="form-group">
                <label class="col-sm-4 control-label"><span style="color: red; ">*</span>合同号：</label>
                <div class="col-sm-7">
                    <input name="agreementNo" id="agreementNo" class="form-control" type="text" required>
                </div>
            </div>
        </div>
        <div class="col-sm-11">
            <div class="form-group">
                <label class="col-sm-4 control-label"><span style="color: red; ">*</span>供应商名称：</label>
                <div class="col-sm-7">
                    <input name="supplierName" id="supplierName" class="form-control" type="text" required>
                </div>
            </div>
        </div>
        <div class="col-sm-11">
            <div class="form-group">
                <label class="col-sm-4 control-label"><span style="color: red; ">*</span>合同开始时间：</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" id="agreementStart" placeholder="开始时间"
                           name="agreementStart" required/>
                </div>
            </div>
        </div>
        <div class="col-sm-11">
            <div class="form-group">
                <label class="col-sm-4 control-label"><span style="color: red; ">*</span>合同结束时间：</label>
                <div class="col-sm-7">
                    <input type="text" class="datetime-input form-control" id="agreementEnd" placeholder="结束时间"
                           name="agreementEnd" required/>
                </div>
            </div>
        </div>
    </form>
</div>
<th:block th:include="include :: footer"/>
<script type="text/javascript">
    var prefix = ctx + "/outsource/agreementInfo";

    function submitHandler() {
        if ($.validate.form()) {
            $.operate.save(prefix + "/add", $('#form-agreementinfo-add').serialize());
        }
    }
</script>
</body>
</html>