<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改岗位分类')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-category-edit" th:with="command = ${@categoryInfoService.selectByPrimaryKey(categroyId)}">
            <input type="hidden" name="categoryId" th:value="${command.getCategoryId()}">
            <h4 class="form-header h4">岗位分类信息</h4>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="col-sm-4 control-label"><span style="color: red; ">*</span>岗位分类名称：</label>
                        <div class="col-sm-8">
                            <input name="categoryName" id="categoryName" placeholder="请输入岗位分类名称" th:value="${command.categoryName}" class="form-control" type="text" maxlength="64" required>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script type="text/javascript">
        var prefix = ctx + "outsource/categroyInfo";

        $("#form-category-edit").validate({
            onkeyup: false,
            focusCleanup: true,
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/edit", $('#form-category-edit').serialize());
            }
        }
    </script>
</body>
</html>