<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('合同账单查询')"/>
    <th:block th:include="include :: bootstrap-select-css" />
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-contractbill-edit" th:with="command = ${@contractBillService.selectByPrimaryKey(id)}">
        <input type="hidden" name="autoId" th:value="${command.autoId}">
        <div class="col-sm-12">
            <div class="form-group">
                <label class="col-sm-4 control-label">合同号：</label>
                <div class="col-sm-7">
                    <input class="form-control" readonly name="agreementNo" id="agreementNo" th:value="${command.agreementNo}">
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="form-group">
                <label class="col-sm-4 control-label"><span style="color: red; ">*</span>供应商名称：</label>
                <div class="col-sm-7">
                    <select name="supplierId" id="supplierId" class="selectpicker form-control" data-live-search="true" th:with="suppliers=${@supplierInfoService.selectAll()}">
                        <option th:each="supplier : ${suppliers}" th:text="${supplier.supplierName}" th:value="${supplier.supplierId}" th:selected="${command.supplierId == supplier.supplierId}"></option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="form-group">
                <label class="col-sm-4 control-label">项目名称：</label>
                <div class="col-sm-7">
                    <select name="projectId" id="projectId" class="selectpicker form-control" data-live-search="true" th:with="projects=${@projectInfoService.selectAll()}">
                        <option th:each="project : ${projects}" th:text="${project.projectName}" th:value="${project.projectId}" th:selected="${command.projectId == project.projectId}"></option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="form-group">
                <label class="col-sm-4 control-label"><span style="color: red; ">*</span>账单金额：</label>
                <div class="col-sm-7">
                    <input name="bidPrice" th:value="${command.getIntBidPrice()}" id="bidPrice" maxlength="7"
                           class="money form-control" type="text" required>
                </div>
            </div>
        </div>
    </form>
</div>
<th:block th:include="include :: footer" />
<th:block th:include="include :: bootstrap-select-js" />
<script type="text/javascript">
    var prefix = ctx + "outsource/contractBill";

    function submitHandler() {
        if ($.validate.form()) {
            $.operate.save(prefix + "/edit", $('#form-contractbill-edit').serialize());
        }
    }
</script>
</body>
</html>