<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cctv.project.noah.outsource.mapper.ContractBillMapper">
  <select id="selectBySelective" parameterType="com.cctv.project.noah.outsource.entity.ContractBill" resultType="com.cctv.project.noah.outsource.entity.ContractBill">

  </select>
  <select id="selectByIds" resultType="com.cctv.project.noah.outsource.entity.ContractBill">

  </select>
</mapper>