<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('修改合同数据')"/>
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-agreementinfo-edit" th:object="${agreementinfo}">
        <input type="hidden" name="id" id="livebackChannelId" th:field="*{id}">
        <div class="col-sm-11">
            <div class="form-group">
                <label class="col-sm-4 control-label"><span style="color: red; ">*</span>频道：</label>
                <div class="col-sm-7">
                    <input name="channel" th:field="*{channel}" id="channel"
                           class="form-control" type="text" required>
                </div>
            </div>
        </div>
        <div class="col-sm-11">
            <div class="form-group">
                <label class="col-sm-4 control-label"><span style="color: red; ">*</span>开始时间：</label>
                <div class="col-sm-7">
                    <input type="text" class="datetime-input form-control" id="starttime" placeholder="开始时间" name="starttime" required/>
                </div>
            </div>
        </div>
        <div class="col-sm-11">
            <div class="form-group">
                <label class="col-sm-4 control-label"><span style="color: red; ">*</span>结束时间：</label>
                <div class="col-sm-7">
                    <input type="text" class="datetime-input form-control" id="endtime" placeholder="结束时间" name="endtime" required/>
                </div>
            </div>
        </div>
        <div class="col-sm-11">
            <div class="form-group">
                <label class="col-sm-4 control-label"><span style="color: red; ">*</span>动作：</label>
                <div class="col-sm-7">
                    <select name="action" class="form-control" th:with="type=${@dict.getType('liveback_action')}">
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"
                                th:field="*{action}"></option>
                    </select>
                </div>
            </div>
        </div>
    </form>
</div>
<th:block th:include="include :: footer" />
<script type="text/javascript">
    var prefix = ctx + "/outsource/agreementInfo";

    // $("#form-liveback-edit").validate({
    //     onkeyup: false,
    //     focusCleanup: true,
    //     rules: {
    //         channelName: {
    //             remote: {
    //                 url: prefix + "/checkLiveChannelUnique",
    //                 type: "post",
    //                 dataType: "json",
    //                 data: {
    //                     channelName : function() {
    //                         return $.common.trim($("#channelName").val());
    //                     },
    //                     client : function () {
    //                         return $.common.trim($("#client").val());
    //                     }
    //                 },
    //                 dataFilter: function(data, type) {
    //                     return $.validate.unique(data);
    //                 }
    //             }
    //         },
    //     }
    // });

    function submitHandler() {
        if ($.validate.form()) {
            $.operate.save(prefix + "/edit", $('#form-agreementinfo-edit').serialize());
        }
    }
</script>
</body>
</html>