<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('在岗人员')" />
    <th:block th:include="include :: bootstrap-select-css"/>
</head>
<body class="gray-bg">
    <!-- 主体内容开始 -->
    <div class="container-div">
        <!-- 第一行 -->
        <div class="row">
            <!-- clo-sm-12 为占用12个栅栏 一行为12个栅栏 search-collapse可折叠样式 -->
            <div class="col-sm-12 search-collapse">
                <form id="currentpersoncount-form">
                    <!-- 表单开始 -->
                    <div class="select-list">
                        <ul>
                            <li>
                                订单编号：<input type="text" name="orderNo" id="orderNo" autocomplete="off" maxlength="20"/>
                            </li>
                            <li>
                                人员姓名：<input type="text" name="staffName" id="staffName" autocomplete="off" maxlength="8"/>
                            </li>
                            <li>
                                项目名称：<select name="projectId" id="projectId" class="selectpicker" data-live-search="true" th:with="projects=${@projectInfoService.selectAll()}">
                                <option value="">全部</option>
                                <option th:each="project : ${projects}" th:text="${project.projectName}" th:value="${project.projectId}"></option>
                            </select>
                            </li>
                            <li>
                                部门名称：<select name="departmentId" id="departmentId" class="selectpicker" data-live-search="true" th:with="departs=${@departmentInfoService.selectAll()}">
                                <option value="">全部</option>
                                <option th:each="depart : ${departs}" th:text="${depart.departmentName}" th:value="${depart.departmentId}"></option>
                            </select>
                            </li>
                            <li>
                                岗位名称：<select name="postId" id="postId" class="selectpicker" data-live-search="true" th:with="posts=${@postInfoService.selectAll()}">
                                <option value="">全部</option>
                                <option th:each="post : ${posts}" th:text="${post.postName}" th:value="${post.postId}"></option>
                            </select>
                            </li>
                            <li>
                                供应商名称：<select name="supplierId" id="supplierId" class="selectpicker" data-live-search="true" th:with="suppliers=${@supplierInfoService.selectAll()}">
                                <option value="">全部</option>
                                <option th:each="supplier : ${suppliers}" th:text="${supplier.getSupplierName()}" th:value="${supplier.getSupplierId()}"></option>
                            </select>
                            </li>
                            <li class="select-time">
                                <label>到岗日期区间： </label>
                                <input type="text" class="time-input" id="arriveStartTime" placeholder="开始时间"
                                       name="params[arriveStartTime]" autocomplete="off" readonly="readonly"/>
                                <span>-</span>
                                <input type="text" class="time-input" id="arriveEndTime" placeholder="结束时间"
                                       name="params[arriveEndTime]" autocomplete="off" readonly="readonly"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                    <!-- 表单结束 -->
                </form>
            </div>
            <!-- table开始 -->
            <div class="btn-group-sm" id="toolbar" role="group">
<!--                <a class="btn btn-success" onclick="$.operate.add()" >-->
<!--                    <i class="fa fa-plus"></i> 新增-->
<!--                </a>-->
<!--                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" >-->
<!--                    <i class="fa fa-edit"></i> 修改-->
<!--                </a>-->
<!--                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" >-->
<!--                    <i class="fa fa-remove"></i> 删除-->
<!--                </a>-->
<!--                <a class="btn btn-info" onclick="$.table.importExcel()">-->
<!--                    <i class="fa fa-upload"></i> 导入-->
<!--                </a>-->
                <a class="btn btn-warning" onclick="exportUser()" >
                    <i class="fa fa-download"></i> 导出
                </a>
            </div>

            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table" data-mobile-responsive="true"></table>
            </div>
            <!-- table结束 -->
        </div>
    </div>
    <!-- 主体内容结束 -->
<th:block th:include="include :: footer"/>
<th:block th:include="include :: bootstrap-select-js"/>
<script th:inline="javascript">
    var isNotifyInterview = [[${@dict.getType('isNotifyInterview')}]];
    var isReject = [[${@dict.getType('isReject')}]];
    $(function(){
        queryList();
    });

    function queryList() {
        var prefix = ctx + "outsource/currentPersonCount";
        var options = {
            url: prefix + "/list",
            createUrl: prefix + "/add",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove",
            exportUrl: prefix + "/export",
            importUrl: prefix + "/importData",
            importTemplateUrl: prefix + "/importTemplate",
            sortName: "autoId",
            sortOrder: "desc",
            modalName: "在岗人员",
            columns: [
                {
                    checkbox: true
                },
                {
                    field: 'autoId',
                    title: 'ID',
                    visible: false
                },
                {
                    field: 'orderNo',
                    title: '订单编号'
                },
                {
                    field: 'staffName',
                    title: '人员姓名',
                    sortable: true,
                    formatter: function(value, row, index) {
                        var actions = [];
                        if (value == null){
                            value = '';
                        }
                        actions.push("<a href=\"javascript:void(0)\" onclick=\"showDetail('"+value+"','staff')\">"+value+"</a>");
                        return actions.join('');
                    }
                },
                {
                    field: 'idCard',
                    title: '身份证号'
                },
                {
                    field: 'projectName',
                    title: '项目名称',
                    sortable: true,
                    formatter: function(value, row, index) {
                        var actions = [];
                        if (value == null){
                            value = '';
                        }
                        actions.push("<a href=\"javascript:void(0)\" onclick=\"showDetail('"+value+"','project')\">"+value+"</a>");
                        return actions.join('');
                    }
                },
                {
                    field: 'departmentName',
                    title: '部门名称',
                    sortable: true,
                    formatter: function(value, row, index) {
                        var actions = [];
                        if (value == null){
                            value = '';
                        }
                        actions.push("<a href=\"javascript:void(0)\" onclick=\"showDetail('"+value+"','department')\">"+value+"</a>");
                        return actions.join('');
                    }
                },
                {
                    field: 'postName',
                    title: '岗位名称',
                    sortable: true,
                    formatter: function(value, row, index) {
                        var actions = [];
                        if (value == null){
                            value = '';
                        }
                        actions.push("<a href=\"javascript:void(0)\" onclick=\"showDetail('"+value+"','post')\">"+value+"</a>");
                        return actions.join('');
                    }
                },
                {
                    field: 'supplierName',
                    title: '供应商名称',
                    sortable: true,
                    formatter: function(value, row, index) {
                        var actions = [];
                        if (value == null){
                            value = '';
                        }
                        actions.push("<a href=\"javascript:void(0)\" onclick=\"showDetail('"+value+"','supplier')\">"+value+"</a>");
                        return actions.join('');
                    }
                },
                {
                    field: 'arriveDate',
                    title: '到岗日期',
                    align: 'center',
                    sortable: true
                }]
        };
        $.table.init(options);
    }

    function exportUser() {
        var rows = $.common.isEmpty($.table._option.uniqueId) ? $.table.selectFirstColumns() : $.table.selectColumns($.table._option.uniqueId);
        if (rows.length == 0) {
            $.table.exportExcel();
            return;
        }
        $.modal.confirm("确定导出"+rows.length+"条数据吗？", function() {
            $.modal.loading("正在导出数据，请稍后...");
            var data = { "ids": rows.join() };
            $.post($.table._option.exportUrl,data, function(result) {
                if (result.code == web_status.SUCCESS) {
                    window.location.href = ctx + "common/download?fileName=" + encodeURI(result.msg) + "&delete=" + true;
                } else if (result.code == web_status.WARNING) {
                    $.modal.alertWarning(result.msg)
                } else {
                    $.modal.alertError(result.msg);
                }
                $.modal.closeLoading();
            });
        });
    }
    function showDetail(value,flag){
        if (flag == 'supplier'){
            $.modal.openTab("供应商数据",ctx+"outsource/supplierInfo?supplierName="+value);
        } else if (flag == 'project') {
            $.modal.openTab("项目数据",ctx+"outsource/projectInfo?projectName="+value);
        } else if (flag == 'department') {
            $.modal.openTab("部门数据",ctx+"outsource/departmentInfo?departmentName="+value);
        } else if (flag == 'post') {
            $.modal.openTab("岗位数据",ctx+"outsource/postInfo?postName="+value);
        } else if (flag == 'staff') {
            $.modal.openTab("人员数据",ctx+"outsource/staffInfo?staffName="+value);
        }
    }
	</script>
</body>

</html>