<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改项目')" />
    <th:block th:include="include :: bootstrap-select-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-project-edit" th:with="command = ${@projectInfoService.selectByPrimaryKey(projectId)}">
            <input type="hidden" name="projectId" th:value="${command.getProjectId()}">
            <h4 class="form-header h4">项目信息</h4>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="col-sm-4 control-label"><span style="color: red; ">*</span>项目名称：</label>
                        <div class="col-sm-8">
                            <input name="projectName" id="projectName" placeholder="请输入项目名称" th:value="${command.getProjectName()}" class="form-control" type="text" maxlength="64" required>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="col-sm-4 control-label"><span style="color: red; ">*</span>部门名称：</label>
                        <div class="col-sm-8">
                            <select name="departmentId" id="departmentId" class="form-control selectpicker" data-live-search="true" th:with="departs=${@departmentInfoService.selectAll()}">
                                <option th:each="depart : ${departs}" th:text="${depart.departmentName}" th:value="${depart.departmentId}" th:selected="${command.getDepartmentId() == depart.departmentId}"></option>
                            </select>
                        </div>
                    </div>
                </div>
                <!--<div class="col-sm-12">-->
                    <!--<div class="form-group">-->
                        <!--<label class="col-sm-4 control-label"><span style="color: red; ">*</span>状态：</label>-->
                        <!--<div class="col-sm-8">-->
                            <!--&lt;!&ndash;<input th:value="${command.getStatus()}">&ndash;&gt;-->
                            <!--<select name="status" class="form-control" th:with="type=${@dict.getType('status')}">-->
                                <!--<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}" th:selected="${(''+command.getStatus()) == dict.dictValue}"></option>-->
                                <!--&lt;!&ndash;<option th:each="dict : ${type}" th:value="${command.getStatus() == dict.dictValue}" th:text="${dict.dictValue}" th:selected="${dict.dictValue == 0}"></option>&ndash;&gt;-->
                            <!--</select>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: bootstrap-select-js" />
    <script type="text/javascript">
        var prefix = ctx + "outsource/projectInfo";

        $("#form-project-edit").validate({
            onkeyup: false,
            focusCleanup: true,
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/edit", $('#form-project-edit').serialize());
            }
        }
    </script>
</body>
</html>