<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cctv.project.noah.mapper.AttendanceMapper">
  <resultMap id="BaseResultMap" type="com.cctv.project.noah.entity.Attendance">
    <id column="auto_id" jdbcType="BIGINT" property="autoId" />
    <result column="order_no" jdbcType="VARCHAR" property="orderNo" />
    <result column="candidate_id" jdbcType="INTEGER" property="candidateId" />
    <result column="statistics_year" jdbcType="SMALLINT" property="statisticsYear" />
    <result column="statistics_month" jdbcType="TINYINT" property="statisticsMonth" />
    <result column="arrive_date" jdbcType="DATE" property="arriveDate" />
    <result column="leave_date" jdbcType="DATE" property="leaveDate" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="is_reject" jdbcType="TINYINT" property="isReject" />
    <result column="serve_days_expect" jdbcType="REAL" property="serveDaysExpect" />
    <result column="serve_days_actual" jdbcType="REAL" property="serveDaysActual" />
    <result column="instead_candidate_id" jdbcType="INTEGER" property="insteadCandidateId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    auto_id, order_no, candidate_id, statistics_year, statistics_month, arrive_date, 
    leave_date, remark, is_reject, serve_days_expect, serve_days_actual, instead_candidate_id, 
    create_time
  </sql>
  <select id="selectByExample" parameterType="com.cctv.project.noah.entity.AttendanceExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from attendance
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limit != null">
      <if test="offset != null">
        limit ${offset}, ${limit}
      </if>
      <if test="offset == null">
        limit ${limit}
      </if>
    </if>
    <if test="forUpdate != null and forUpdate == true">
      for update
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from attendance
    where auto_id = #{autoId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from attendance
    where auto_id = #{autoId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.cctv.project.noah.entity.AttendanceExample">
    delete from attendance
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" keyColumn="auto_id" keyProperty="autoId" parameterType="com.cctv.project.noah.entity.Attendance" useGeneratedKeys="true">
    insert into attendance (order_no, candidate_id, statistics_year, 
      statistics_month, arrive_date, leave_date, 
      remark, is_reject, serve_days_expect, 
      serve_days_actual, instead_candidate_id, create_time
      )
    values (#{orderNo,jdbcType=VARCHAR}, #{candidateId,jdbcType=INTEGER}, #{statisticsYear,jdbcType=SMALLINT}, 
      #{statisticsMonth,jdbcType=TINYINT}, #{arriveDate,jdbcType=DATE}, #{leaveDate,jdbcType=DATE}, 
      #{remark,jdbcType=VARCHAR}, #{isReject,jdbcType=TINYINT}, #{serveDaysExpect,jdbcType=REAL}, 
      #{serveDaysActual,jdbcType=REAL}, #{insteadCandidateId,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" keyColumn="auto_id" keyProperty="autoId" parameterType="com.cctv.project.noah.entity.Attendance" useGeneratedKeys="true">
    insert into attendance
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="orderNo != null">
        order_no,
      </if>
      <if test="candidateId != null">
        candidate_id,
      </if>
      <if test="statisticsYear != null">
        statistics_year,
      </if>
      <if test="statisticsMonth != null">
        statistics_month,
      </if>
      <if test="arriveDate != null">
        arrive_date,
      </if>
      <if test="leaveDate != null">
        leave_date,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="isReject != null">
        is_reject,
      </if>
      <if test="serveDaysExpect != null">
        serve_days_expect,
      </if>
      <if test="serveDaysActual != null">
        serve_days_actual,
      </if>
      <if test="insteadCandidateId != null">
        instead_candidate_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="orderNo != null">
        #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="candidateId != null">
        #{candidateId,jdbcType=INTEGER},
      </if>
      <if test="statisticsYear != null">
        #{statisticsYear,jdbcType=SMALLINT},
      </if>
      <if test="statisticsMonth != null">
        #{statisticsMonth,jdbcType=TINYINT},
      </if>
      <if test="arriveDate != null">
        #{arriveDate,jdbcType=DATE},
      </if>
      <if test="leaveDate != null">
        #{leaveDate,jdbcType=DATE},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="isReject != null">
        #{isReject,jdbcType=TINYINT},
      </if>
      <if test="serveDaysExpect != null">
        #{serveDaysExpect,jdbcType=REAL},
      </if>
      <if test="serveDaysActual != null">
        #{serveDaysActual,jdbcType=REAL},
      </if>
      <if test="insteadCandidateId != null">
        #{insteadCandidateId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.cctv.project.noah.entity.AttendanceExample" resultType="java.lang.Long">
    select count(*) from attendance
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update attendance
    <set>
      <if test="record.autoId != null">
        auto_id = #{record.autoId,jdbcType=BIGINT},
      </if>
      <if test="record.orderNo != null">
        order_no = #{record.orderNo,jdbcType=VARCHAR},
      </if>
      <if test="record.candidateId != null">
        candidate_id = #{record.candidateId,jdbcType=INTEGER},
      </if>
      <if test="record.statisticsYear != null">
        statistics_year = #{record.statisticsYear,jdbcType=SMALLINT},
      </if>
      <if test="record.statisticsMonth != null">
        statistics_month = #{record.statisticsMonth,jdbcType=TINYINT},
      </if>
      <if test="record.arriveDate != null">
        arrive_date = #{record.arriveDate,jdbcType=DATE},
      </if>
      <if test="record.leaveDate != null">
        leave_date = #{record.leaveDate,jdbcType=DATE},
      </if>
      <if test="record.remark != null">
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.isReject != null">
        is_reject = #{record.isReject,jdbcType=TINYINT},
      </if>
      <if test="record.serveDaysExpect != null">
        serve_days_expect = #{record.serveDaysExpect,jdbcType=REAL},
      </if>
      <if test="record.serveDaysActual != null">
        serve_days_actual = #{record.serveDaysActual,jdbcType=REAL},
      </if>
      <if test="record.insteadCandidateId != null">
        instead_candidate_id = #{record.insteadCandidateId,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update attendance
    set auto_id = #{record.autoId,jdbcType=BIGINT},
      order_no = #{record.orderNo,jdbcType=VARCHAR},
      candidate_id = #{record.candidateId,jdbcType=INTEGER},
      statistics_year = #{record.statisticsYear,jdbcType=SMALLINT},
      statistics_month = #{record.statisticsMonth,jdbcType=TINYINT},
      arrive_date = #{record.arriveDate,jdbcType=DATE},
      leave_date = #{record.leaveDate,jdbcType=DATE},
      remark = #{record.remark,jdbcType=VARCHAR},
      is_reject = #{record.isReject,jdbcType=TINYINT},
      serve_days_expect = #{record.serveDaysExpect,jdbcType=REAL},
      serve_days_actual = #{record.serveDaysActual,jdbcType=REAL},
      instead_candidate_id = #{record.insteadCandidateId,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.cctv.project.noah.entity.Attendance">
    update attendance
    <set>
      <if test="orderNo != null">
        order_no = #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="candidateId != null">
        candidate_id = #{candidateId,jdbcType=INTEGER},
      </if>
      <if test="statisticsYear != null">
        statistics_year = #{statisticsYear,jdbcType=SMALLINT},
      </if>
      <if test="statisticsMonth != null">
        statistics_month = #{statisticsMonth,jdbcType=TINYINT},
      </if>
      <if test="arriveDate != null">
        arrive_date = #{arriveDate,jdbcType=DATE},
      </if>
      <if test="leaveDate != null">
        leave_date = #{leaveDate,jdbcType=DATE},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="isReject != null">
        is_reject = #{isReject,jdbcType=TINYINT},
      </if>
      <if test="serveDaysExpect != null">
        serve_days_expect = #{serveDaysExpect,jdbcType=REAL},
      </if>
      <if test="serveDaysActual != null">
        serve_days_actual = #{serveDaysActual,jdbcType=REAL},
      </if>
      <if test="insteadCandidateId != null">
        instead_candidate_id = #{insteadCandidateId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where auto_id = #{autoId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cctv.project.noah.entity.Attendance">
    update attendance
    set order_no = #{orderNo,jdbcType=VARCHAR},
      candidate_id = #{candidateId,jdbcType=INTEGER},
      statistics_year = #{statisticsYear,jdbcType=SMALLINT},
      statistics_month = #{statisticsMonth,jdbcType=TINYINT},
      arrive_date = #{arriveDate,jdbcType=DATE},
      leave_date = #{leaveDate,jdbcType=DATE},
      remark = #{remark,jdbcType=VARCHAR},
      is_reject = #{isReject,jdbcType=TINYINT},
      serve_days_expect = #{serveDaysExpect,jdbcType=REAL},
      serve_days_actual = #{serveDaysActual,jdbcType=REAL},
      instead_candidate_id = #{insteadCandidateId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where auto_id = #{autoId,jdbcType=BIGINT}
  </update>
</mapper>