<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cctv.project.noah.outsource.mapper.ContractBillMapper">
    <resultMap id="ContractBillResultMap" type="com.cctv.project.noah.outsource.entity.ContractBill">
        <id column="auto_id" jdbcType="BIGINT" property="autoId"/>
        <result column="agreement_no" jdbcType="VARCHAR" property="agreementNo"/>
        <result column="project_name" jdbcType="VARCHAR" property="projectName"/>
        <result column="supplier_name" jdbcType="VARCHAR" property="supplierName"/>
        <result column="total_price" jdbcType="REAL" property="totalPrice"/>
        <result column="statistics_year" jdbcType="SMALLINT" property="statisticsYear"/>
        <result column="statistics_month" jdbcType="TINYINT" property="statisticsMonth"/>
    </resultMap>

    <select id="selectBySelective" parameterType="com.cctv.project.noah.outsource.entity.ContractBill"
            resultMap="ContractBillResultMap">
        select ai.agreement_no, mb.supplier_name, mb.project_name ,sum(mb.post_expenses) from month_bill mb
        left join supplier_info si on si.supplier_name = mb.supplier_name
        left join agreement_info ai on ai.supplier_id = si.supplier_id
        <where>
            <if test="statisticsYear != null">
                and mb.statistics_year = #{statisticsYear,jdbcType=SMALLINT}
            </if>
            <if test="statisticsMonth != null">
                and mb.statistics_month = #{statisticsMonth,jdbcType=TINYINT}
            </if>
            <if test="projectName != null and projectName != ''">
                AND mb.project_name = #{projectName,jdbcType=VARCHAR}
            </if>
            <if test="projectName != null and projectName != ''">
                AND mb.supplier_name = #{supplierName,jdbcType=VARCHAR}
            </if>
            and ai.agreement_start &lt;= CONCAT(#{statisticsYear,jdbcType=SMALLINT}, '-',
            #{statisticsMonth,jdbcType=TINYINT}, '-01')
            and ai.agreement_end &gt;= CONCAT(#{statisticsYear,jdbcType=SMALLINT}, '-',
            #{statisticsMonth,jdbcType=TINYINT}, '-01')
            group by mb.supplier_name , mb.project_name
        </where>
    </select>

</mapper>