<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cctv.project.noah.outsource.mapper.PostInfoMapper">
  <resultMap id="BaseResultMap" type="com.cctv.project.noah.outsource.entity.PostInfo">
    <id column="post_id" jdbcType="INTEGER" property="postId" />
    <result column="post_name" jdbcType="VARCHAR" property="postName" />
    <result column="category_id" jdbcType="INTEGER" property="categoryId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    post_id, post_name, category_id, create_time
  </sql>
  <select id="selectByExample" parameterType="com.cctv.project.noah.outsource.entity.PostInfoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from post_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limit != null">
      <if test="offset != null">
        limit ${offset}, ${limit}
      </if>
      <if test="offset == null">
        limit ${limit}
      </if>
    </if>
    <if test="forUpdate != null and forUpdate == true">
      for update
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from post_info
    where post_id = #{postId,jdbcType=INTEGER}
  </select>
  <select id="selectList" parameterType="com.cctv.project.noah.outsource.entity.PostInfo" resultMap="BaseResultMap">
    select
    p.post_id post_id,
    p.post_name post_name,
    p.category_id category_id,
    p.create_time create_time,
    cate.category_name categoryName
    from post_info p INNER JOIN category_info cate
    where cate.category_id = p.category_id
    <if test="postId != null">
      AND post_id = #{postId,jdbcType=INTEGER}
    </if>
    <if test="postName != null and postName != ''">
      AND post_name = #{postName,jdbcType=VARCHAR}
    </if>
    <if test="categoryId != null">
      AND cate.category_id = #{categoryId,jdbcType=INTEGER}
    </if>
    <if test="params!=null and params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
      AND date_format(p.create_time,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')
    </if>
    <if test="params!=null and params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
      AND date_format(p.create_time,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
    </if>
  </select>
  <select id="selectByIds" parameterType="com.cctv.project.noah.outsource.entity.PostInfo" resultMap="BaseResultMap">
    select
    p.post_id post_id,
    p.post_name post_name,
    p.category_id category_id,
    p.create_time create_time,
    cate.category_name categoryName
    from post_info p INNER JOIN category_info cate
    where cate.category_id = p.category_id and p.post_id in
    <foreach collection="array" item="id"  open="(" separator="," close=")">
      #{id}
    </foreach>
  </select>
  <insert id ="insertBatch" keyColumn="post_id" keyProperty="postId" parameterType="java.util.List" useGeneratedKeys="true">
    insert into post_info (post_name, category_id, create_time)
    values
    <foreach collection ="list" item="bean" index= "index" separator =",">
      (#{bean.postName,jdbcType=VARCHAR}, #{bean.categoryId,jdbcType=INTEGER}, #{bean.createTime,jdbcType=TIMESTAMP})
    </foreach >
  </insert >
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from post_info
    where post_id = #{postId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.cctv.project.noah.outsource.entity.PostInfoExample">
    delete from post_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" keyColumn="post_id" keyProperty="postId" parameterType="com.cctv.project.noah.outsource.entity.PostInfo" useGeneratedKeys="true">
    insert into post_info (post_name, category_id, create_time
      )
    values (#{postName,jdbcType=VARCHAR}, #{categoryId,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" keyColumn="post_id" keyProperty="postId" parameterType="com.cctv.project.noah.outsource.entity.PostInfo" useGeneratedKeys="true">
    insert into post_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="postName != null and postName != ''">
        post_name,
      </if>
      <if test="categoryId != null">
        category_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="postName != null and postName != ''">
        #{postName,jdbcType=VARCHAR},
      </if>
      <if test="categoryId != null">
        #{categoryId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.cctv.project.noah.outsource.entity.PostInfoExample" resultType="java.lang.Long">
    select count(*) from post_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update post_info
    <set>
      <if test="record.postId != null">
        post_id = #{record.postId,jdbcType=INTEGER},
      </if>
      <if test="record.postName != null">
        post_name = #{record.postName,jdbcType=VARCHAR},
      </if>
      <if test="record.categoryId != null">
        category_id = #{record.categoryId,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update post_info
    set post_id = #{record.postId,jdbcType=INTEGER},
      post_name = #{record.postName,jdbcType=VARCHAR},
      category_id = #{record.categoryId,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.cctv.project.noah.outsource.entity.PostInfo">
    update post_info
    <set>
      <if test="postName != null and postName != ''">
        post_name = #{postName,jdbcType=VARCHAR},
      </if>
      <if test="categoryId != null">
        category_id = #{categoryId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where post_id = #{postId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cctv.project.noah.outsource.entity.PostInfo">
    update post_info
    set post_name = #{postName,jdbcType=VARCHAR},
      category_id = #{categoryId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where post_id = #{postId,jdbcType=INTEGER}
  </update>
</mapper>