<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增评审数据')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-review-add">
            <h4 class="form-header h4">评审数据信息</h4>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="col-sm-4 control-label"><span style="color: red; ">*</span>采购编号：</label>
                        <div class="col-sm-8">
                            <input name="purchaseNo" id="purchaseNo" placeholder="请输入采购编号" class="form-control" type="text" maxlength="64" required>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="col-sm-4 control-label"><span style="color: red; ">*</span>岗位需求数：</label>
                        <div class="col-sm-8">
                            <input name="postCount" id="postCount" placeholder="请输入采购总人数" class="form-control" type="text" maxlength="11" required>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="col-sm-4 control-label"><span style="color: red; ">*</span></span>岗位：</label>
                        <div class="col-sm-8">
                            <select name="postId" id="postId" class="form-control selectpicker" data-live-search="true" th:with="posts=${@postInfoService.selectAll()}">
                                <option th:each="post : ${posts}" th:text="${post.postName}" th:value="${post.postId}"></option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="col-sm-4 control-label"><span style="color: red; ">*</span></span>项目：</label>
                        <div class="col-sm-8">
                            <select name="projectId" id="projectId" class="form-control selectpicker" data-live-search="true" th:with="projects=${@projectInfoService.selectAll()}">
                                <option th:each="project : ${projects}" th:text="${project.projectName}" th:value="${project.projectId}"></option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="col-sm-4 control-label"><span style="color: red; ">*</span></span>评审日期：</label>
                        <div class="select-time col-sm-8">
                            <!--<label>评审日期： </label>-->
                            <input type="text" class="time-input form-control" id="reviewDate" placeholder="评审日期" name="reviewDate" autocomplete="off" readonly="readonly" required/>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script type="text/javascript">
        var prefix = ctx + "outsource/reviewInfo";

        $("#form-review-add").validate({
            onkeyup: false,
            focusCleanup: true,
            rules:{
                postCount:{
                    digits:true,
                },
                reviewDate:{
                    dateISO:true
                },
            },
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/add", $('#form-review-add').serialize());
            }
        }
    </script>
</body>
</html>